body,html{
    padding: 0;
    margin: 0;
    background-color: black;
}

.clock{
    width: 500px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: inset 0px 0px 2px 2px #000,0px 0px 3px 1px #fff;
    background-image: url('clock2.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.clock::after{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border: 2px solid white;
    z-index: 4;
}

#seconds,#minutes,#hours{
    position: absolute;
    width: 100%;
    height: 100%;
}

#seconds{
    z-index: 3;
}

#minutes{
    z-index: 2;
}

#hours {
    z-index: 1;
}

#seconds::before,#minutes::before,#hours::before,#seconds::after{
    content: "";
    display: block;
    left: 50%;
    top:50%;
    position: absolute;
    transform: translate(-50%,-100%);
    border-radius: 10px;
}

#seconds::before{
    width: 1px;
    height: 180px;
    background: red;
}

#seconds::after{
    width: 1px;
    height: 30px;
    background: red;
    transform: translate(-50%,0);
}

#minutes::before{
    width: 3px;
    height: 150px;
    background: gray;
}

#hours::before{
    width: 5px;
    height: 100px;
    background: #575656;
}

#digiClock{
    position: absolute;
    z-index: 1;
    font-family: cursive;
    background: #f3f2f2;
    padding: 0 6px 0 6px;
    font-size: 15px;
    top: 50%;
    left: 62%;
    transform: translateY(-50%);
    box-shadow: inset 0px 0px 2px 2px #0000001a;
    border-radius: 2px;
    text-align: center;
}
